## 최댓값 찾기

In [5]:
ca = [10,17,13,11]

max=ca[0]
if max < ca[1]:
    max =ca[1]

if max < ca[2]:
    max=ca[2]

if max < ca[3]:
    max=ca[3]

print(max)

17

# for문을 사용하여 최댓값 찾기

In [7]:
ca = [10,17,13,11]

max=ca[0]
for sb in range(1,4):
    if max < ca[sb]:
        max =ca[sb]

print(max)

17

# 원소의 갯수를 모를 경우

In [16]:
ca = [10,17,13,11]

max=ca[0]
for sb in ca:
    if max < sb:
        max = [sb]

print(max)

TypeError: '<' not supported between instances of 'list' and 'int'

In [10]:
ca = [10,17,13,11]

max=ca[0]
for sb in range(1,len(ca)):
    if maxc < ca[sb]:
        maxc =ca[sb]

print(max)

17

In [12]:
del max

In [13]:
ca= [ 10,17,13,11]
max(ca)

17

# 원소의 정렬

In [19]:
ca= [ 21,10,11,15,13]

mina = ca[0]
minix = 0

for sb in range(1,len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
    minix = sb
temp = ca[0]
ca[0] = ca[minix]
ca[minix] = temp

print(ca)

[13, 10, 11, 15, 21]

In [26]:
ca= [ 21,10,11,15,13]
for sa in range(0,len(ca) -1):
    mina = ca[1]
    minix = sa

    for sb in range(sa+1,len(ca)):
        if mina > ca[sb]:
            mina = ca[sb]
            minix = sb
        
    temp = ca[sa]
    ca[sa] = ca[minix]
    ca[minix] = temp

    print(ca)

[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]

In [25]:
def user_sort(ca):
    for sa in range(0,len(ca) -1):
        mina = ca[1]
        minix = sa
    
        for sb in range(sa+1,len(ca)):
            if mina > ca[sb]:
                mina = ca[sb]
                minix = sb
            
        temp = ca[sa]
        ca[sa] = ca[minix]
        ca[minix] = temp
    
        print(ca)
ca= [ 21,10,11,15,13]
user_sort(ca)
print(ca)

[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]
[21, 10, 11, 15, 13]

In [28]:
ca= [ 21,10,11,15,13]
ca.sort()
print(ca)

[10, 11, 13, 15, 21]

In [29]:
ca= [ 21,10,11,15,13]
ca.sort(reverse=True)
print(ca)

[21, 15, 13, 11, 10]

# 딕셔너리를 매개변수로 사용하는 방법

딕셔너리는  (key,value)

In [30]:
a = {'mon' : '월','tue' : '화','wed' : '수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [31]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [32]:
x['mon'] = '일'
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [33]:
x = a
print(x)

{'mon': '일', 'tue': '화', 'wed': '수'}

In [34]:
def fch(x):
    x['mon'] = '일'

In [36]:
a = {'mon' : '월','tue' : '화','wed' : '수'}
print(a)
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}
{'mon': '월', 'tue': '화', 'wed': '수'}

In [37]:
print("함수 실행 전 : ", a)
fch(a)
print("함수 실행 후 : ", a)

함수 실행 전 :  {'mon': '월', 'tue': '화', 'wed': '수'}
함수 실행 후 :  {'mon': '일', 'tue': '화', 'wed': '수'}

In [38]:
print("함수 실행 후  : ", x)

함수 실행 후  :  {'mon': '일', 'tue': '화', 'wed': '수'}

# *args 에서 " * " 의 의미 : 매개변수가 유동적일때 " * " 사용함

In [40]:
def my_func(*args):
    for arg in args:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

In [41]:
my_func(1,2,3)

1
2
3

In [42]:
def my_func(*xch):
    for arg in xch:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

## **kwargs 에서  " * * 의미 : 딕셔너리 데이터를 파라미터로 사용하는데 (유동적)

In [51]:
def my_func(**kwargs):
    for key, value in kwargs.item():
        print('key : ', key, ' value : ', value)

In [52]:
my_func(name='john' ,age=30, gender='Male', loc='서울시')

AttributeError: 'dict' object has no attribute 'item'

In [46]:
def my_func(*args,**kwargs):
    for arg in args:
        print(arg)
        
    for key,value in kwargs.item():
        print('key : ', key, ' value : ', value)

In [49]:
my_func(1,2,3,4,5, name='john' ,age=30, gender='Male', loc=' 서울시')

1
2
3
4
5

AttributeError: 'dict' object has no attribute 'item'