# 1. 변수와 데이터 타입 기초
## 1.1. 변수 선언과 값 할당
변수는 데이터를 저장하는 공간을 나타냅니다. Python에서 변수는 특정 값에 이름을 붙여서 사용합니다.

In [2]:
# 변수 선언과 값 할당
x = 10           # 정수형
name = "Alice"    # 문자열
height = 1.75     # 실수형
is_student = True # 불리언

## 1.2. 데이터 타입 확인하기
Python에서는 type() 함수를 사용하여 변수의 데이터 타입을 확인할 수 있습니다.

In [3]:
print(type(x))        # <class 'int'>
print(type(name))     # <class 'str'>
print(type(height))   # <class 'float'>
print(type(is_student)) # <class 'bool'>

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [16]:
print (x)
print (name)

100
철수

In [5]:
print('x = ', x)      
print('name = ', name)     
print('height = ', height)   
print('is_student = ', is_student)

x =  10
name =  Alice
height =  1.75
is_student =  True

## 1.3. 데이터 타입 변환하기
Python에서는 데이터를 다른 타입으로 변환할 수 있습니다. 예를 들어, 정수를 실수로 변환하거나 문자열을 숫자로 변환할 수 있습니다.

In [20]:
# 데이터 타입 변환 예제
num_str = "100"     # 문자열
num_int = int(num_str)  # 문자열을 정수로 변환
print(num_int)       # 100

height_str = str(height)  # 실수를 문자열로 변환
print(height_str)   # '1.75'

100

NameError: name 'height' is not defined

# 2. 다양한 데이터 타입 실습
## 2.1. 정수 (int)
정수는 소수점이 없는 숫자를 나타냅니다.

In [12]:
# 정수 예제
num1 = 50
num2 = -7
sum_result = num1 + num2
print("합:", sum_result)  # 43

합: 43

## 2.2 실수 (float)
실수는 소수점이 있는 숫자를 나타냅니다

In [26]:
# 실수 예제
height = 1.75
weight = 70.5
bmi = weight / (height ** 2)  # BMI 계산
print("BMI:", bmi)  # 22.98 (대략적인 결과)

BMI: 23.020408163265305

In [28]:
height = 1.5
weight = 6.5
bmi = weight/height
print ("bmi:",bmi)

bmi: 4.333333333333333

## 2.3 문자열 
문자열은 작은따옴표('') 또는 큰따옴표로("") 감싸서 만들 수 있습니다

In [32]:
# 문자열 예제
greeting = "Hello, World!"
print(greeting)  # Hello, World!
# 문자열 연결 (concatenation)
full_greeting = "Hello" + " " + "Alice!"
print(full_greeting)  # Hello Alice!

Hello, World!
Hello Alice!

# 2.4. 불리언 (bool)
불리언은 True 또는 False 값만 가질 수 있는 데이터 타입입니다.

In [34]:
b_txt= False
print(b_txt)

False

In [38]:
if 0 ==False:
    print('참')
else:
    print('거짓')

참

In [40]:
# 불리언 예제
is_raining = True
is_sunny = False
print("비가 오나요?", is_raining)  # True
print("맑은 날인가요?", is_sunny)  # False
1:45
b_txt = False
print(b_txt)

SyntaxError: illegal target for annotation (2208080781.py, line 6)

# 3. 데이터 타입 연산

## 3.1. 정수와 실수 연산
정수와 실수는 서로 연산이 가능하며, 실수 결과를 변환합니다

In [42]:
# 정수와 실수 연산
num1 = 10
num2 = 3
# 덧셈
sum_result = num1 + num2  # 10 + 3 = 13
print("덧셈 결과:", sum_result)
# 나눗셈 (결과는 실수형)
division_result = num1 / num2  # 10 / 3 = 3.333...
print("나눗셈 결과:", division_result)
# 나머지 구하기 (정수형)
mod_result = num1 % num2  # 10 % 3 = 1
print("나머지:", mod_result)

덧셈 결과: 13
나눗셈 결과: 3.3333333333333335
나머지: 1

## 문제 1: 변수 선언과 연산¶
정수 변수 a = 15, b = 4를 선언하고, 두 변수의 합, 차, 곱, 나눗셈 결과를 각각 출력하는 프로그램을 작성하세요.

In [87]:
a=15
b=4

c= a+b
print ('a + b = ',c)

c= a-b
print ('a - b = ',c)

c= a*b
print ('a * b = ',c)

c= a/b
print ('a / b = ',c)

a + b =  19
a - b =  11
a * b =  60
a / b =  3.75

## 문제 2: 문자열 다루기
사용자의 이름을 입력받고, 그 이름을 "Hello, [이름]!" 형식으로 출력하는 프로그램을 작성하세요

In [89]:
name = "문희승"
print ("Hello,",[name],"!")
print("hello+ name +!")

Hello, ['문희승'] !
hello+ name +!

## 문제 3: BMI 계산기
키와 몸무게를 입력받아 BMI(체질량지수)를 계산하는 프로그램을 작성하세요.
BMI 계산 공식: BMI = 체중(kg) / (신장(m) ** 2)

In [77]:
height= 1.75
weight=59

BMI = weight / (height **2)
print("BMI(체질량지수) =",BMI)

BMI(체질량지수) = 19.26530612244898