# 1. 조건문 예제

## 1. 짝수와 홀수 판별하기

In [8]:
number =  int(input("숫자를 입력하세요 (0~100):"))
if number % 2 == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{number}은(는) 홀수입니다.")

숫자를 입력하세요 (0~100): 10

10은(는) 짝수입니다.

## 1.2 성적에 따른 학점 출력

In [12]:
score = int(input("점수를 입력하세요 (0~100):"))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
     print("B학점입니다.")
elif score >= 70:
     print("c학점입니다.")
elif score >= 60:
     print("d학점입니다.")
else:
     print("B학점입니다.")

점수를 입력하세요 (0~100): 22

B학점입니다.

In [10]:
number= int(input("aa"))

aa 1

## 1.3 로그인 시스템

In [20]:
# 간단한 로그인 시스템 

user_id= "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 성공!')

    else:
        print('비밀번호가 틀립니다')
else:
    print("등록된 사용자 아이디가 틀립니다")

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

## 2.반복문 예제

## 2.1 1부터 10까지 숫자 출력 (for문)

In [35]:
for i in range(1, 11, 1): # (초기값, 목표값 + 1, 증가값)
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [31]:

for i in range(1, 11, 2): # (초기값, 목표값 + 1, 증가값)
    print(i)

1
3
5
7
9

In [33]:
text_list = ['a','b','c','d']

for txt in text_list:
    print(txt)

a
b
c
d

In [37]:
# 다이아몬드 모양 별 출력
height = int(input("다이아몬드의 높이(반쪽)를 입력하세요: "))

# 위쪽 피라미드
for i in range(1, height + 1):
    print(" " * (height - i) + "*" * (2 * i - 1))

# 아래쪽 역피라미드
for i in range(height - 1, 0, -1):
    print(" " * (height - i) + "*" * (2 * i - 1))

# 예시 입력: 5
# 출력:
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

다이아몬드의 높이(반쪽)를 입력하세요:  6

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

## 특정 단 구구단 출력

In [44]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요: "))

for i in range(1,10):
    print(f'{dan}x{i} ={dan*i}')

출력할 구구단의 단수를 입력하세요:  5

5x1 =5
5x2 =10
5x3 =15
5x4 =20
5x5 =25
5x6 =30
5x7 =35
5x8 =40
5x9 =45

## 2.3 리스트 요소 출력

In [7]:
fruits = ["사과","바나나","포도","오렌지"]

for fruit in fruits:
    print(fruit)

사과
바나나
포도
오렌지

## 2.4 for문 사용해서 1 ~ 100까지 합계 구기기

In [6]:
sum = 0
for i in range(1, 101):
    sum = sum + i
print('합계 = ', sum)

합계 =  5050

## 2.5 while 사용해서 1 ~ 100까지 합계 구기기

In [8]:
tot = 0
cnt = 0
while True:
    if cnt > 99:
        break
    cnt = cnt + 1
    tot = tot + cnt
print('합계 = ', tot)

합계 =  5050

In [9]:
tot = 0
cnt = 0
while cnt < 100:
    cnt = cnt + 1
    tot = tot + cnt
print('합계 = ', tot)

합계 =  5050

## 2.6 continue 사용 예제

In [13]:
# 1 부터 10 까지 짝수만 출력하오

for i in range( 1,13):
    if i % 2 ==0:
        continue
    print(i)

1
3
5
7
9
11

## 2.7 별 출력 프로그램

In [2]:
# 사용자로 부터 숫자를 입력받아서 해당 숫자만큼 별을 출력
n = int(input('출력할 줄 수를 입력하세요:'))
for i in range(1, n + 1):
    print('*' * i)

출력할 줄 수를 입력하세요: 7

*
**
***
****
*****
******
*******

In [19]:
n = int(input("피라미드의 높이를 입력하세요: "))

for i in range(1, n + 1):
    print(" " * (n - i) + "j" * (2 * i - 1))

피라미드의 높이를 입력하세요:  6

     j
    jjj
   jjjjj
  jjjjjjj
 jjjjjjjjj
jjjjjjjjjjj

In [28]:
n = int(input("피라미드의 높이를 입력하세요: "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j,end= '')
    print()

피라미드의 높이를 입력하세요:  7

1
12
123
1234
12345
123456
1234567

In [5]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요: "))

for i in range(1,10):
    print(f'{dan}x{i} ={dan*i}')

출력할 구구단의 단수를 입력하세요:  3

3x1 =3
3x2 =6
3x3 =9
3x4 =12
3x5 =15
3x6 =18
3x7 =21
3x8 =24
3x9 =27

## 2.9 숫자 피라미드 만들기

In [4]:
# 구구단 테이블 형식 출력
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} x {i} = {j * i:2}", end="  ")  # :2는 결과를 두 자리로 정렬
    print()

2 x 1 =  2  3 x 1 =  3  4 x 1 =  4  5 x 1 =  5  6 x 1 =  6  7 x 1 =  7  8 x 1 =  8  9 x 1 =  9
2 x 2 =  4  3 x 2 =  6  4 x 2 =  8  5 x 2 = 10  6 x 2 = 12  7 x 2 = 14  8 x 2 = 16  9 x 2 = 18
2 x 3 =  6  3 x 3 =  9  4 x 3 = 12  5 x 3 = 15  6 x 3 = 18  7 x 3 = 21  8 x 3 = 24  9 x 3 = 27
2 x 4 =  8  3 x 4 = 12  4 x 4 = 16  5 x 4 = 20  6 x 4 = 24  7 x 4 = 28  8 x 4 = 32  9 x 4 = 36
2 x 5 = 10  3 x 5 = 15  4 x 5 = 20  5 x 5 = 25  6 x 5 = 30  7 x 5 = 35  8 x 5 = 40  9 x 5 = 45
2 x 6 = 12  3 x 6 = 18  4 x 6 = 24  5 x 6 = 30  6 x 6 = 36  7 x 6 = 42  8 x 6 = 48  9 x 6 = 54
2 x 7 = 14  3 x 7 = 21  4 x 7 = 28  5 x 7 = 35  6 x 7 = 42  7 x 7 = 49  8 x 7 = 56  9 x 7 = 63
2 x 8 = 16  3 x 8 = 24  4 x 8 = 32  5 x 8 = 40  6 x 8 = 48  7 x 8 = 56  8 x 8 = 64  9 x 8 = 72
2 x 9 = 18  3 x 9 = 27  4 x 9 = 36  5 x 9 = 45  6 x 9 = 54  7 x 9 = 63  8 x 9 = 72  9 x 9 = 81